// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~buefy/src/scss/buefy-build.scss';
@import 'login.scss';

html {
  height: 100vh;
  overflow: hidden;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.h-100 {
  height: 100%;
}

.pad {
  padding: 15px;
}

section.tab-scroll {
  flex: 1;
}

.tab-scroll .b-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-scroll .tab-content {
  overflow-y: scroll;
}

.tab-content::-webkit-scrollbar, .tab-content::-webkit-scrollbar-track,
.tab-content::-webkit-scrollbar-thumb, .tab-content::-webkit-scrollbar-thumb:hover {
  display: none;
}