@import "../variables";

.clusterize-scroll {
  overflow: scroll;
}

.track-table {

  .track {
    display: flex;
    cursor: default;

    & > div {
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    .track-list-number {
      width: 40px;
    }

    .track-list-title {
      width: 300px;
      padding-right: 10px;
    }

    .track-list-duration {
      width: 45px;
    }

    .track-list-artist {
      width: 220px;
    }

    .track-list-more-options {
      width: 0;
      cursor: pointer;
      -webkit-transition: width .1s ease-in-out;
      -moz-transition: width .1s ease-in-out;
      -ms-transition: width .1s ease-in-out;
      -o-transition: width .1s ease-in-out;
      transition: width .1s ease-in-out;
    }

    .track-list-options-trigger:hover ~ .track-list-more-options,
    .track-list-more-options:hover {
      width: 24px;
    }
  }
}

.theme--dark {
  .track:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.04) !important;
  }
  .track:hover {
    background-color: rgba(255, 255, 255, 0.11) !important;
  }
}

.theme--light {
  .track:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
  .track:hover {
    background-color: rgba(0, 0, 0, 0.11) !important;
  }
}
