@import "../variables";

.track-table {

}

.track-table .track {
  display: flex;
}

.track-table .track > div {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track-table .track:nth-child(odd) {
  background-color: $white-ter;
}

.track-list-number {
  width: 40px;
}

.track-list-title {
  width: 300px;
  padding-right: 10px;
}

.track-list-duration {
  width: 45px;
}
